/**************************************************/
/*************** animation specific ***************/
/**************************************************/
$orange: #FF5F19;
$animDuration: 1.7;
$spinnerDimension: 50px;

.spinner-container {
    position: relative;

    > * {
        transition: #{$animDuration/6}s linear;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: $spinnerDimension;
        height: $spinnerDimension;
        position: absolute;
        top: calc(50% - #{$spinnerDimension / 2});
        left: calc(50% - #{$spinnerDimension / 2});
        background-color: rgba($orange, .5);
        border-radius: 50%;
        pointer-events: none;
        z-index: 1000;
        transform: scale(0);
        transition: #{$animDuration/4}s linear #{$animDuration/6}s;
    }

    &.spinning {

        &::before,
        &::after {
            animation: spinner-pulsing #{$animDuration}s infinite;
            animation-fill-mode: both;
        }

        &::before {
            animation-delay: #{$animDuration/2}s;
        }

        > * {
            filter: blur(7px);
            pointer-events: none;
        }
    }
}

@keyframes spinner-pulsing {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
